

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-list {
  display: flex;
  padding: 2rem;
  overflow-x: scroll;
  
}
.card-list {
  -webkit-overflow-scrolling: touch;

}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(2, 2, 2, 0.25), inset -2px -2px 2px rgba(147, 145, 145, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#fef6ff,#fef6ff 1px,#fef6ff 0,#fef6ff);
}


.card {
  height: 270px;
  width: 260px;
  min-width: 260px;
  padding: 1.5rem;
  border-radius: 16px;
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: -1rem 0.5rem 3rem -1rem rgb(96, 96, 96);
  transition: .2s;
  margin: 0;
  clear: both;
  position: relative;

}


.card:hover {
  transform: translateY(-0.7rem);
}

.name {
  font-weight: bold;
  color: #131313;
}
.online {
  color: rgb(44, 225, 44);
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  margin: 0 0 0;
}


